/*
animation动画

.class{
    animation-name:demo;                    为动画取个名字
    animation-duration:4s;                  与transition相似
    animation-delay:0s;                     与transition相似
    animation-iteration-count:infinite;     动画重复次数
    animation-timing-function:linear;       与transition相似
}
animation也可以合写,与transition相似

设定动画“关键帧”，进行动画制作
@keyframes demo{
    0%{transform:translate(0, 0);}
    25%{transform:translate(0, 100px);}
    50%{transform:translate(100px, 100px);}
    75%{transform:translate(0, 100px);}
    100%{transform:translate(0, 0);}
}

from和0%等效
to和100%等效

animation-fill-mode:none;           默认值, 动画结束后回到起始位置, 0%在延迟后执行
animation-fill-mode:backward;       动画结束后回到起始位置, 0%在延迟前执行
animation-fill-mode:forward;        动画结束后停留在结束位置, 0%在延迟后执行
animation-fill-mode:both;           动画结束后停留在结束位置, 0%在延迟前执行

animation-direction:决定播放动画的方向

animation-direction:normal;         默认值, 永远都是正向  0%到100%
animaiton-direction:reverse;        永远都是反向         100%到0%
animation-direction:alternate;      一次正向, 一次反向   一次0%到100%, 一次100%到0%


下载animation库   https://animate.style/